# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Keil
*.bak
*.ini
*.uvopt
*.uvproj
*.Ray
*.Administrator
*.dep
*Object
*List

# Specific Files
*6-axis_IIC
*6-axis+Communication
*InfraredLaunch_ZE
*InfraredReceive_RB
*Karman_Smoothing_Example
*Karman_Transplant_Test
*Laser_Engraving_Machine
*MotionDriver_DMP
*stm32 Module
*Template2.0
*Template3.5_RB
*Template3.5_ZE
*test_6-axis
*UM0427
*ZET6



